<!--modal for adding friends -->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
          <h3 class="modal-title" id="myModalLabel">Search for friends</h3>
      </div>
      <form id="friends" class="modal-body input-group">
          <input type="text" class="search form-control" placeholder="Search with username..." id="usrname">    
          <span class="input-group-btn">
            <button class="btn btn-default" id="search">Search</button>
          </span>
      </form>
      <div class="modal-footer">
        <div class="friendsName"></div>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div> 

<!--modal for deleting friends -->
<div id="my1Modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
          <h3 class="modal-title" id="myModalLabel">Delete</h3>
      </div>
      <div class="modal-body">
          <p> Are you sure you want to DELETE?</p>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" data-dismiss="modal" class="btn btn-danger" id="btnDelteYes">Confirm</button>
      </div>
    </div>
  </div>
</div> 

<div class="container">
    <h3>Friends</h3>
    {{#if friends}}
  <table class="table" id="friendsTable">
    <thead>
      <tr>
        <th ><p>Name</p></th>
        <th ><p>Username</p></th>
        <th ><p>Location</p></th>
        <th ><p>Last Check-In</p></th>
        <th data-sortable="false"><a href="#" class="btnAddIcon" data-target="#myModal"><img src="/img/addFriend.png" class="addIcon img-responsive" /></a></th>
      </tr>
    </thead>
    <tbody>
      {{#each friends}}
      <tr class="btnDelete" data-id="{{id}}">
        <td><h5>{{name}}<br/><small>{{topics}}</small></h5></td>
        <td><h5>{{username}}</h5></td>
        <td><h5>{{location}}<br/><small>{{locationDetail}}</small></h5></td>
        <td><h5>{{checkinTime}}</h5></td>
        <td><a href="#" class="btnDelete btn" data-target="#my1Modal">Delete</a></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{else}}
    <br />
    <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">You haven't added your friends yet.</h3>
    </div>
    <div class="panel-body">
      Your friends will appear on this page.
    </div>
  </div>
{{/if}}    
</div>

<script src="/js/delete-bookmarks.js"></script>